﻿@model IEnumerable<SpaceX.UI.Models.RootObject>

@{
    ViewBag.Title = "SpaceX Launch Records";
}

<h2 class="text-center">@ViewBag.Title</h2>

<table data-pagination="true" data-page-size="15" data-show-pagination-switch="false" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true" data-field="launch_date_utc">Launch Date/Time UTC</th>
            <th data-field="rocket_name">Rocket Used</th>
            <th data-field="article_link"> Cargo Manifest</th>
            <th data-field="launch_success"> Successful Launch</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.launch_date_utc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rocket.rocket_name)
                </td>
                <td>
                    <a>@item.links.article_link</a>
                </td>
                @if (item.launch_success == true)
                {
                    <td>Yes</td>

                }
                else
                {
                    <td>No</td>
                }
            </tr>
        }
    </tbody>
</table>
